.container {
  display: flex;
  height: 95vh;
}

.chapter-nav {
  width: 50%;
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  padding: 20px;
  overflow-y: auto;
}

.chapter-nav ul {
  list-style: none;
  padding: 0;
}

.chapter-nav li {
  margin-bottom: 10px;
}

.chapter-nav li.active a {
  font-weight: bold;
  color: #007bff;
}

.content {
  width: 80%;
  overflow-y: auto;
  padding: 20px;
}

section {
  margin-bottom: 50px;
}
