<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div id="glowEffect"></div>
<div class="container">
  <nav class="chapter-nav"  (scroll)="onScroll($event)">
    <h3>Mila Milović</h3>
    <p>Student softverskog inženjerstva</p>
    <ul>
      <li [class.active]="activeSection === 'about'">
        <a (click)="scrollTo('about')">About</a>
      </li>
      <li [class.active]="activeSection === 'experiences'">
        <a (click)="scrollTo('experiences')">Experiences</a>
      </li>
      <li [class.active]="activeSection === 'projects'">
        <a (click)="scrollTo('projects')">Projects</a>
      </li>
    </ul>
    <div class="social-icons">
      <a href="https://github.com/milamilovic" target="_blank" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/mila-milovic-453189213/" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </nav>

  <div class="content" (scroll)="onScroll($event)">
    <div id="top"></div>
    <section id="about">
      <!--<h2>About</h2>-->
      <div *ngFor="let paragraph of about">
        <p class="about-paragraph">{{ paragraph.paragraph1 }}</p>
        <p class="about-paragraph">{{ paragraph.paragraph2 }}</p>
      </div>
    </section>

    <section id="experiences">
      <h2>Experiences</h2>
      <div *ngFor="let card of experiences" class="card">
        <h3>{{ card.title }}</h3>
        <p>{{ card.content }}</p>
      </div>
    </section>

    <section id="projects">
      <h2>Projects</h2>
      <div *ngFor="let card of projects" class="card" id="project" (click)="redirectToLink(card.link)">
        <h3>{{ card.title }}</h3>
        <p>{{ card.content }}</p>
      </div>
    </section>
  </div>
</div>
